<div class="page-content-inner">
    <!-- Dashboard -->
    <div class="dashboard-container">
        <div class="row">
            <div class="col-xl-12">
                <div class="panel panel-with-borders m-b-0">
                    <div class="panel-body">
                        <form name='passwordForm'>
                            <h5>Change Password</h5>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label">Old Password</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="icmn-key4"></i>
                                        </span>
                                        <input type="text" class="form-control" ng-model="vm.oldPassword" placeholder="" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label">New Password</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="icmn-key"></i>
                                        </span>
                                        <input type="text" class="form-control" ng-model="vm.newPassword" placeholder="" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label">Repeat Password</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icmn-key"></i>
                                    </span>
                                        <input type="text" class="form-control" ng-model="vm.repeatPassword" placeholder="" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 text-right">
                                    <button type="button" ng-disabled="passwordForm.$invalid || vm.newPassword != vm.repeatPassword" class="btn btn-info-outline margin-inline" ng-click="vm.changePassword()">Change Password</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Dashboard -->

</div>